.playlist_item {
    z-index: 300;
    position: relative;
    transition: 300ms ease-in-out all;
        &:hover {
            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: linear-gradient(to bottom, rgba(0,0,0,0.71) 0%, rgba(194,194,194,0) 100%);
            }
            &:after {
                content: '';
                position: absolute;
                top:0;
                bottom: 0;
                left: 0;
                right: 0;
                background: url("../../assets/images/svg/play-button.svg") no-repeat center;
                background-size: 60% 60%;
                opacity: 0.5;
            }
        }
        img {
            width: 100%;
            object-fit: cover;
    }
}



